 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>(change formatting of about heading, add picture of myself, links to resume, linkedin, contact info, and github)</p>
                    <p>I am a third year Norhteastern University student studying Computer Engineering and Computer Science, with expected graduation in May 2020. I am an avid learner and love working with people.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am currently co-oping at State Street in their Architecture and Infrastructure group, as well as at RIVeR, a robotics research lab at Northeastern. My skills include xxxx xxxx xxxx and xxx. I have experience in xxxx and xxxx.</p>
                </div>
                <div class="col-lg-4">
                    <p>When I'm not working, I love to blow glass, surf, explore the general outdoors, and meet new people from different cultures than my own.</p>
                </div>
            </div>
        </div>
    </section>