/* To fix overlap of fixed-top navbar */
body {
	padding-top: 3.75rem;
	padding-bottom: 50px;
	min-height: 100%;
	position: relative;
}

/* To fix footer being fixed to bottom on short pages */
html {
	height:100%;
}